/* General Styles */
body, * {
  font-family: "Cardo", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

a {
  color: hsl(160, 47%, 36%);
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

/* buttons */
.btn {
  display: inline-block;
  padding: 0.8em 1.6em;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-weight: bold;
  border-color: hsl(60, 100%, 42%);
  background-color: hsl(60, 100%, 50%);
  color: white; /* Text color */
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Hover Effect */
.btn:hover {
  border-color: hsl(160, 47%, 28%);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Focus Effect */
.btn:focus {
  outline: 2px solid hsl(60, 100%, 50%);
  outline-offset: 4px;
}

.btn-light {
  color: hsl(160, 47%, 36%);
}

.btn-light:hover {
  background-color: hsl(60, 100%, 42%);
  border-color: hsl(60, 100%, 42%);
}

.modal-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-btn,
.submit-btn {
  font-size: clamp(0.8em, 1vw, 0.9em);
  margin: 1rem 1.5rem 0.5rem;
  padding: 0.5rem 1rem;
  width: 40%;
  background-color: hsl(60, 100%, 42%);
  color: black;
}

.cancel-btn:hover,
.submit-btn:hover{
  background-color: var(--primary-color);
  color: var(--text-color);
  transform: scale(1.05); /* Subtle scale effect on hover */
}

.container-fluid {
  padding: 0;
}

/* Navbar */
.navbar {
  padding: 1em 2em;
  background-color: hsl(60, 100%, 50%);
  display: flex;
  align-items: baseline;
}
@media(max-with:700px){
}
.navbar-nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
  width: 100%;
}

.navbar-logo {
  width: 30%;
  display: flex;
  align-items: flex-end;
  color: hsl(160, 47%, 36%);
}

.navbar-logo img {
  width: 100%;
  max-width: 75px;
  position: relative;
}

.logo-text{
  position: absolute;
  line-height: 0.6em;
  left: 4.5em;
  bottom: 1.2em;
}

.logo-text .bloom{
  font-size: 1rem;
  font-weight: bold;
  position: relative;
}

.byYeni{
  font-size: 0.6rem;
  position: absolute;
  left: 1rem;
}

.navbar-collapse {
  justify-content: right;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media(max-width: 990px) {
  .navbar{
    padding: 1em;
  }

  .navbar-nav{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5em;
  }
  .navbar-toggler {
    border: none;
    padding: 5px;
  }
  .navbar-logo img{
    max-width: 65px;
  }

  .logo-text{
    left: 3.5em;
  }
}

.nav-item{
  position: relative;
}

.nav-item > li{
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1000;
  margin-top: 1.3rem;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

.nav-item:hover .dropdown-menu,
.dropdown-menu:hover{
  visibility: visible;
  opacity: 1;
  display: block;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.nav-link{
  font-size: clamp(0.9em, 1.3vw, 1.5em);
  font-family: "Open Sans", sans-serif;
  color: hsl(160, 47%, 36%);
}
.nav-link:hover{
  color: hsl(0, 0%, 10%);
}
/* Dropdown */
.dropdown {
  margin: 0 0.7rem;
}

.dropdown-item {
  font-size: clamp(0.8em, 1vw, 0.8em);
  font-family: "Open Sans", sans-serif;
  text-align: left;
  padding: 1em;
  cursor: pointer;
}

.dropdown-item:hover {
  color: hsl(160, 47%, 36%);
  text-decoration: underline;
  background-color: transparent;
}

.dropdown-nolink:hover{
  text-decoration: none;
  cursor: auto;
}

@media(max-width: 990px) {
  .dropdown-item,
  li {
      max-width: 200px;
  }

  .dropdown-item {
      padding: 0.5em;
  }

  .dropdown-menu{
    background-color: inherit;
    border: none;
  }
  .dropdown-menu.show {
    display: block;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    margin-top: 0;
  }
}

/* modal for smaller screen nav */
/* Slide-in animation */
@keyframes slideInFromRight {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

/* Modal custom style */
.modal-dialog-slide {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0;
  transform: translateX(100%); /* Start off-screen */
  animation: slideInFromRight 0.5s forwards; /* Slide in */
  width: 80%; /* Adjust width as needed */
}

.nav-modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
}

.nav-modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.nav-modal-body {
  padding: 1rem;
}

/* Modal */
.modal-title {
  margin: auto;
  font-weight: bold;
}

.modal-body {
  padding: 0.8rem 1.2rem;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.message-textarea .form-control {
  padding: .75rem;
}

.modal-message{
  font-size: clamp(0.7em, 1vw, 0.8em);
}

.thankYouModal{
  padding: 2em;
  text-align: center;
}

.thankYouMessagea{
  font-size: clamp(1em, 1.3vw, 1.1em);
  font-weight: bold;
  margin: 3em 0 2em;
} 
.thankYouMessageb{
  font-size: clamp(0.8em, 1.1vw, 0.9em);
  margin: 0 0 4em;
}

.fa-check{
  margin-top: 1em;
  font-size: clamp(1.8em, 2.4vw, 2em);
  border: 2px solid green;
  border-radius: 50%;
  padding: 0.4em 0.5em;
}

.modal-message:focus {
  outline: none;
  box-shadow: none;
}

/* Labels, forms, inputs, and options */
label {
  margin: 0.3em 0.5em 0.3em 0;
  font-size: clamp(0.7em, 0.9vw, 0.8em);
}

.mb-3 input {
  padding: 0.3rem 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: clamp(0.7em, 0.9vw, 0.8em);
  outline: none;
  box-shadow: none;
}

.mb-3 input:focus {
  border: none;
  outline: none;
  box-shadow: none;
  border: 1px solid gray;
}

.mb-3 input:valid{
  outline: none;
  box-shadow: none;
}

select {
  margin-bottom: 0.6em;
  cursor: pointer;
  padding: 0.3rem 0;
}

* Form feedback */
.mb-3 input:valid,
.mb-3 input:invalid,
textarea{
  box-shadow: none !important;
}

.invalid-feedback {
  font-size: clamp(0.7em, 0.8vw, 0.7em);
}

.valid-feedback {
  font-size: clamp(0.7em, 0.8vw, 0.7em);
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Homepage Section */
.homepage {
  width: 100%;
  padding: 10em 3em;
  margin: 0 auto;
  text-align: center;
  background: url('/assets/images/background-img.jpg') no-repeat center center / cover;
}

.homepage-maintext {
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  font-weight: bold;
	color: rgba(255, 255, 255, 0.85);
}

.homepage-li {
	color: rgba(255, 255, 0, 0.85);
  font-size: clamp(1.2rem, 1.7vw, 2.1rem);
  margin-bottom: 1em;
}

.homepage-subtext {
  font-size: clamp(1rem, 1.3vw, 1.5rem);
  width: 60%;
  margin: 0 auto 2em;
	color: hsl(0, 0%, 90%);
}

@media (max-width: 500px) {
  .homepage {
    padding: 5em 1em;
  }

  .homepage-subtext {
    width: 90%;
  }
}

/* Services Section */
.services_container {
  background-color: white;
  width: 100%;
  padding: 4.5em 3em 2em;
  text-align: center;
}

.services_enhance {
  font-size: clamp(1.5em, 2vw, 2.5em);
  font-weight: bold;
  margin-bottom: 2.5em;
  color: #333333;
}

.services {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

@media (max-width: 875px) {
  .services_container {
    padding: 4em 2em 1em;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }
}

.services .box {
  width: 320px;
  height: 350px;
  color: #333333;
  border-radius: 20px;
  margin-bottom: 3em;
}

.services img {
  width: 100%;
  max-width: 350px;
  height: 250px;
  border-radius: 10px;
}

.services p {
  color: black;
  font-weight: bold;
  font-size: clamp(1.2em, 1.5vw, 2em);
  margin-top: 1em;
	text-wrap: nowrap;
}

/* Footer */
footer {
  width: 100%;
  background-color: hsl(60, 100%, 50%);
  color: hsl(160, 47%, 36%);
  padding: 4em 4em 0; /* Adjusted padding for smaller screens */
}
@media(max-width:900px){
  footer{
    padding: 4em 2em 0;
  }
}

.footer-content {
  display: flex;
	align-items: flex-start;
  flex-wrap: wrap; /* Makes it responsive */
  justify-content: space-between; /* Aligns items evenly */
  gap: 2em; /* Adds spacing between sections */
  margin-bottom: 3em; /* Space below content */
}

.footer-logo img {
  width: 100%; /* Full width of its container */
  max-width: 100px; /* Limits logo size */
  margin-bottom: 1em;
}

.footer-logo p{
	width: 100%;
	max-width: 250px;
	font-size: clamp(0.9em, 0.5vw, 1em);
}

.about-bloom{
  margin-bottom: 1em;
}

.join-us-p{
	margin-top: 0.5em;
}

.email, .phone, .address {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: clamp(0.9em, 1.1vw, 1.2em);
}

.footer-logo h4,
.footer-content h4{
	font-size: clamp(1.2em, 1.5vw, 2em);
  font-weight: bold;
}

.footer-links h4, .footer-contact h4, .social-icons h4{
	margin-bottom: 1em;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.7em;
}

.footer-links a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #000000A6;
}

.subsidiary-text{
  margin-bottom: 0.5em;
}

.parent-company{
  text-decoration: underline;
}

.social-icons a {
  font-size: clamp(1.2em, 2vw, 2em); /* Responsive icon size */
	color: hsl(160, 47%, 36%);
  margin-right: 1em;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: hsl(160, 47%, 36%);
}

.copyright {
  text-align: center;
  font-size: clamp(0.8em, 1vw, 1em);
  color: hsl(160, 47%, 36%);
  padding-top: 2em;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

